

.transfer-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.MuiFormControl-root {
    margin: 10px;
    width: 500px;
}

button {
    margin: 20px;
}